<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
<display-name>ServletController</display-name>
<welcome-file-list>
    <welcome-file>index</welcome-file>
</welcome-file-list>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>by.it.kruglenja.TaskManager.java.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>